{{>partial_header}}
package {{packageName}}

{{#models}}
    {{#model}}
{{#vendorExtensions.x-dao-entity}}
/* {{{imports}}} */
        {{^isEnum}}{{#description}}
// {{classname}} - {{{description}}}{{/description}} (ORM)
type {{classname}} struct {
{{#vars}}{{#description}}
    // {{{.}}}{{/description}}
{{#deprecated}}
    // Deprecated
{{/deprecated}}
    {{name}} {{#isNullable}}*{{/isNullable}}{{{dataType}}} `json:"{{baseName}}{{^required}},omitempty{{/required}}"{{#vendorExtensions.x-go-custom-tag}} {{{.}}}{{/vendorExtensions.x-go-custom-tag}}`
{{/vars}}
}{{/isEnum}}
{{/vendorExtensions.x-dao-entity}}
    {{/model}}
{{/models}}